/* NAVBAR: */

.nav {
    margin-bottom: 2%;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    max-width: 100%;
    width: 1200px;
}

.nav li {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding: 1%;
    transition: .2s ease-in-out 0s;
}

.nav li:hover {
    transform: scale(1.25);
}


.navbar-logo {
    width: 100%;
    /* cursor: pointer; */
    text-decoration: none;
}



.nav a {
    text-decoration: none;
    color: lightslategray;
}


.hamburger {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 999;
    float: right;
    padding-bottom: 5%;
    padding-right: 5%;
}

.burger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: black;
    transform-origin: 1px;
}

.x-p{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 999;
    float: right;
    padding-bottom: 5%;
    padding-right: 4%;
}

.x{
    width: 1.5rem;
    height: 0.20rem;
    border-radius: 10px;
    background-color: black;
    transform-origin: 1px;
}

.x1{
    transform: rotate(48deg);
}

.x2{
    transform: rotate(-48deg);
}

.x-p:hover{
    cursor: pointer;
}

.hamburger {
    display: none;
}

.navbar-logo-mobile {
    display: none;
}


.hide-me{
    display: none;
}

.blur-me {
    filter: blur(8px);
}


.attribution {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
    padding-top: 0%;
    margin-top: 0%;
}


@media screen and (max-width: 950px){


    .hide-me{
        display: none;
    }

    .nav {
        display: none;
    }


    .navbar-logo {
        display: none;
    }

    .navbar-logo-mobile{
        display: flex;
        padding-left: 6%;
        cursor: pointer;
    }


    .nav-menu.active {
        margin: auto;
        right: 0;
        z-index: 998;
        width: 70%;
        height: 100%;
        position: absolute;
        top: 80px;
        transition: all 0.5s ease;
        background: white; 
    }



    .nav-menu li {
        text-align: left;
        list-style-type: none;
        text-decoration: none;
        font-size: 25px;
        padding: 5%;
    }

    .nav-item1 {
        margin-top: 20%;
    }

    .nav-item {
        margin-left: 10%;
    }
    
    .nav-menu a:visited {
        color: black;
    }

    .nav-menu li:hover {
        opacity: .6;
    }


    .hamburger {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: space-around;
        flex-flow: column nowrap;
        z-index: 999;
        float: right;
        padding-bottom: 5%;
        padding-right: 5%;
        display: flex;
    }

    .hamburger:hover {
        cursor: pointer;
    }
} 

.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    /* grid-template-rows: 300px 300px 300px;  */
}


/* card one */

.geo-img {
    padding-right: 5%;
    padding-bottom: 5%;
    height: 100%;
    grid-column: 1 / span 2;
    overflow: hidden;
    max-width: 100%;
    object-fit: scale-down;
} 

.direct {
    max-width: 100%;
    max-height: 100%;
}

.card-title{
    grid-column: 1 / span 1;
    grid-row: 2;
    font-size: 50px;
    max-width: 90%;
    margin: 0;
}

.card-text{
    grid-row: 2;
    margin: 0;
    grid-column: 2 / span 1;
    font-size: 15px;
    color: lightslategray;
    line-height: 1.3rem;
    padding-right: 10%;    
    padding-bottom: 10%;
}

.card-btn { 
    grid-column: 2 / span 1;
    grid-row: 2;
    margin-top: 42%;
    opacity: 0.7;
    background-color: red;
    color: white;
    width: 175px;
    height: 45px;
    letter-spacing: 3px;
    border-style: none;
    transition: .2s ease-in-out 0s;
}

.card-btn:hover {
    /* width: 220px;
    height: 60px; */ 
    transform: scale(1.1);
    cursor: pointer;
}


/* Container Two */


.containerTwo {
    max-height: 80%;
    background-color: #01011B;
    grid-row: 1 / span 2;
    grid-column: 3 / span 1;
    padding: 7%;
}

.card2-title {
    color: #DEA54C;
    font-size: 35px;
}

.sub-title {
    color: white;
    font-size: larger;
    margin-bottom: 5%;
    transition: .2s ease-in-out 0s;
}

.sub-title:hover {
    font-size: 20px;
    opacity: .8;
}

.small-text {
    color: lightslategray;
    font-size: medium;
    margin-top: 5%;
    margin-bottom: 5%;
}

.line {
    width: 95%;
    border: 0.5px solid lightslategray;
    margin-bottom: 5%;
}


/* Container 3 */




.vid-title {
    font-size: 30px;
    color: lightslategray;
    margin: 0;
}

.vid-sub {
    font-size: 16px;
    margin: 1%;
}

.vid-text {
    font-size: 13px;
    color: lightslategrey;
}

.num-one {
    max-height: 200px;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    /* display: flex; */
    padding-right: 5%;
    transition: .2s ease-in-out 0s;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.num-one:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.num-two {
    max-height: 200px;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    /* display: flex; */
    padding-right: 5%;
    transition: .2s ease-in-out 0s;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.num-two:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.num-three {
    max-height: 200px;
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    /* display: flex; */
    padding-right: 5%;
    transition: .2s ease-in-out 0s;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.num-three:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.baby-img {
    /* margin: auto; */
    max-width: 100px;
    max-height: 100%;
    object-fit: scale-down;
    float: left;
    padding-right: 5%;

}






@media screen and (max-width: 950px){
    .home {
        grid: none;
        display: block;
        padding-left: 7%;
        padding-right: 4%;
    }

    .geo-img { 
        width: 100%;
    }  
    
    .direct {
        content: url(../assets/images/image-web-3-mobile.jpg);
        width: 100%;
        flex-wrap: wrap;
    }
    
    .card-title{
        font-size: 50px;
        padding-bottom: 5%;
        /* margin: 0; */
    }
    
    .card-text{
        font-size: 20px;
        color: lightslategray;
        line-height: 2rem;
    }
    
    .card-btn { 
        opacity: 0.7;
        background-color: red;
        color: white;
        width: 200px;
        height: 50px;
        letter-spacing: 3px;
        border-style: none;
        transition: .2s ease-in-out 0s;
        margin-top: 0;
    }
    
    .card-btn:hover {
        /* width: 220px;
        height: 60px; */ 
        transform: scale(1.1);
        cursor: pointer;
    }
    
    
    /* Container Two */
    
    
    .containerTwo {
        margin-top: 10%;
        background-color: #01011B;
    }
    
    .card2-title {
        color: #DEA54C;
        font-size: 40px;
        padding-bottom: 3%;
    }
    
    .sub-title {
        font-size: x-large;
        transition: .2s ease-in-out 0s;
    }
    
    .sub-title:hover {
        font-size: x-large;
        opacity: .8;
    }
    
    .small-text {
        color: lightslategray;
        font-size: large;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    .line {
        width: 95%;
        border: 0.5px solid lightslategray;
        margin-bottom: 10%;
    }
    
    
    /* Container 3 */
    
    
    
    
    .vid-title {
        font-size: 35px;
        color: lightslategray;
        padding: 3%;
    }
    
    .vid-sub {
        font-size: 20px;
        margin: 1%;
    }
    
    .vid-text {
        font-size: 18px;
        color: lightslategrey;
        margin-bottom: 30%;
    }
    
    .num-one {
        margin-top: 25%;
        /* display: flex; */
        padding-right: 5%;
        transition: .2s ease-in-out 0s;
    }
    
    .num-one:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .num-two {
        /* display: flex; */
        padding-right: 5%;
        transition: .2s ease-in-out 0s;
    }
    
    .num-two:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .num-three {
        /* display: flex; */
        padding-right: 5%;
        transition: .2s ease-in-out 0s;
    }
    
    .num-three:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .baby-img {
        /* margin: auto; */
        max-width: 150px;
        max-height: 100%;
        object-fit: scale-down;
        float: left;
        padding-right: 5%;
    
    }
    
}


